/* colors */
$MainPurple: #635FC7;
$MainPurpleHover: #A8A4FF;
$Black: #000112;
$VeryDarkGrey: #20212C;
$DarkGrey: #2B2C37;
$LinesDark: #3E3F4E;
$MediumGrey: #828FA3;
$LinesLight: #E4EBFA;
$LightGreyBG: #F4F7FD;
$White: #FFFFFF;
$Red: #EA5555;
$RedHover: #FF9898;
