*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
    width: 100%;
}

html {
    height: 100%;
    font-size: 18px;
}

/* body {

} */

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
}

input[type="button"],
input[type="submit"],
button, a {
    cursor: pointer;
}

input:focus,
textarea:focus,
select:focus {
    outline: none;
}