@use "helpers/functions"as f;
@use "mixins"as m;

@mixin largeHeading {
  font-size: f.toRem(32, 18);
  font-weight: 300;
  font-style: normal;
  line-height: f.toRem(40.32, 18);
  letter-spacing: -.5px;
}

@mixin mediumHeading {
  font-size: f.toRem(24, 18);
  font-weight: 300;
  font-style: normal;
  line-height: f.toRem(30.24, 18);
}

@mixin smallHeading {
  font-size: f.toRem(24, 18);
  font-weight: 500;
  font-style: normal;
  line-height: f.toRem(30.24, 18);

}

@mixin XSmallHeading {
  font-size: f.toRem(18, 18);
  font-weight: 500;
  font-style: normal;
  line-height: f.toRem(22.68, 18);
}

@mixin bodyMedium {
  font-size: f.toRem(15, 18);
  font-weight: 300;
  font-style: normal;
  line-height: f.toRem(18.9, 18);
}

@mixin bodySmall {
  font-size: f.toRem(13, 18);
  font-weight: 300;
  font-style: normal;
  line-height: f.toRem(16.38, 18);
}
