@use "breakpoints"as v;
@use "mixins"as m;
@use "functions"as f;

// For responsive

.hide-for-mobile {
    @include m.breakpoint-down("small") {
        // 375px => 767px
        display: none !important;
    }
}

.hide-for-tablet {
    @include m.breakpoint-up("medium") {
        // 768px => 1439px
        display: none !important;
    }
}

.hide-for-mobile-and-tablet {
    @include m.breakpoint-up("large") {
        // 768px => 1439px
        display: none !important;
    }
}

.hide-for-tablet-and-desktop {
    @include m.breakpoint-up("medium") {
        // 768px => 1439px
        display: none !important;
    }
}