@use 'colors'as c;
@use 'typography'as t;
@use 'helpers/functions'as f;

@mixin app-button {
  background-color: c.$Red;
  border-radius: 6px;
  border: none;
  color: c.$PureWhite;
  @include t.bodyMedium;

  &:hover {
    background-color: c.$PureWhite;
    color: c.$SemiDarkBlue;
  }
}
