@use '../colors'as c;
@use '../typography'as t;
@use '../helpers/functions'as f;

/* BUTTON CLASS */

@mixin ktm-button {
  border-radius: f.toRem(20, 12);
  border: none;
  cursor: pointer;
}

@mixin ktm-btn-primary {
  background-color: c.$MainPurple;
  color: c.$White;

  &:hover {
    background-color: c.$MainPurpleHover;
  }
}

@mixin ktm-btn-destructive {
  background-color: c.$Red;
  color: c.$White;
  &:hover {
    background-color: c.$RedHover;
  }
}

@mixin ktm-btn-secondary-light {
  background-color: rgba($color: c.$MainPurple, $alpha: .1);
  color: c.$MainPurple;
  &:hover {
    background-color: rgba($color: c.$MainPurple, $alpha: .25);
  }
}


@mixin ktm-btn-secondary-dark {
  background-color: c.$White;
  color: c.$MainPurple;
}

/* BUTTON CLASS */

/* INPUT CLASS */

@mixin ktm-input {
  border-radius: 4px;
  border: 1px solid rgba($color: c.$MediumGrey, $alpha: .25);
  @include t.bodyLarge;
  padding: f.toRem(8, 12) f.toRem(16, 12) f.toRem(9, 12) f.toRem(16, 12);
  &:focus {
    outline: none;
    border: 1px solid c.$MainPurple;
  }
}

@mixin ktm-input-light {
  color: c.$Black;
}

@mixin ktm-input-dark {
  color: c.$White;
}

/* INPUT CLASS */